<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Apple Store</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/MyStyle.css" rel="stylesheet" />
    <!-- font-awesome icons -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <style>
        #view-cart-link img {
            border: 1px solid white;
            padding: 8px 13px;
            margin-top: 6px;
            border-radius: 3px;
        }

        .img-product-fly {
            position: absolute;
            z-index: 999999;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            border: 2px solid #808080;
            transition: all 0.8s ease;
        }
    </style>
</head>

<body>
    <!-- header -->
    @RenderPage("_Header.cshtml")
    <div class="logo_products">
        @{ Html.RenderAction("GetCategory", "Category");}
    </div>
    <!-- //header -->
    <!-- banner -->
    <div class="banner">
        <div class="w3l_banner_nav_left">
            @{ Html.RenderAction("GetProductMenuLeft", "Category");}
        </div>

    </div>
    @RenderBody()
    <!-- top-brands -->
    <!-- //top-brands -->

    <div class="clearfix"></div>
    <!-- newsletter -->
    <div class="newsletter">
        @RenderPage("_NewsLetter.cshtml")
    </div>
    <!-- //newsletter -->
    <!-- footer -->
    <div class="footer">
        @RenderPage("_Footer.cshtml")
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->

    <script src="~/Content/js/MyJavaScript.js"></script>
    <script>
        $(function () {
            var $miniCart = $('#mini-Cart');
            $('#view-cart-link').hover(
                () => $miniCart.css('display', 'block'),
                () => $miniCart.css('display', 'none')
            );

            $('.addToCart').click(function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                $.post('@Url.Action("AddToCart","ShoppingCart")', { id }, function (response) {
                    $miniCart.html(response);
                });
            });
         });
    </script>
    <!--Hieu ung bay vao gio hang-->
    <script>
        $('.addToCart').on('click', function (e) {
            e.preventDefault();
            var parent = $(this).closest('.snipcart-item').find('.snipcart-thumb');
            var srcImage = parent.find('img').attr('src');
            var cart = $(document).find('#view-cart-link');

            //Get toa do cua img va gio hang
            var parTop = parent.offset().top;
            var parLeft = parent.offset().left;
            var cartTop = cart.offset().top;
            var cartLeft = cart.offset().left;

            $('<img/>', {
                class: 'img-product-fly',
                src: srcImage
            }).appendTo('body').css({
                'top': parTop,
                'left': parseInt(parLeft) + parseInt(parent.width()) - 40
            });
            setTimeout(function () {
                $(document).find('.img-product-fly').css({
                    'top': cartTop + 8,
                    'left': cartLeft + 7,
                    'width': 30,
                    'height': 30
                });
                setTimeout(function () {
                    $(document).find('.img-product-fly').removeClass();
                }, 1000);
            }, 400);
        });
    </script>

</body>
</html>
