
@{
    ViewBag.Title = "GetByCategory";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@model IEnumerable<AppleStore.Model.SanPham>
@{
    int iDem = 0;
    int iTrang = 1;
    int iCountItemOfPage = 8;
}
       
<div class="top-brands">
    <div class="container">
        <div class="agile_top_brands_grids">
            @foreach (var sp in Model)
            {
                if (iDem % iCountItemOfPage == 0 && iDem != 0)
                {
                    iTrang++;
                }
                <div class="@Url.Content("col-md-3 top_brand_left trang"+iTrang.ToString())">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="tag"><img src="~/Content/images/tag.png" alt=" " class="img-responsive" /></div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="@Url.Action("Detailes","Home", new { id=sp.MaSanPham })"><img title=" " alt=" " src="~/Areas/Admin/Content/products/@sp.HinhMinhHoa" class="img-responsive" style="height:180px" /></a>
                                            <p>@sp.TenSanPham</p>
                                            <h4>@sp.DonGia <span>$10.00</span></h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <button class="button addToCart" data-id="@sp.MaSanPham">Add To Cart</button>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                iDem++;
            }
            <div class="clearfix"> </div>
        </div>
        <div class="paginationJS">
            @for (var i = 1; i <= iTrang; i++)
            {
                if (iTrang != 1) //Neu so trang = 1 thi khong xuat ra gi
                {
                    <a href="#" class="btnTrang" data-sotrang="@Url.Content("trang"+i)">@i</a>
                }
            }
        </div>
    </div>
</div>

